<%= simple_form_for [@pet, @journal_entry] do |f| %>
  <div class="title-input">
    <%= f.input :name, placeholder: 'Title', label: false, input_html: { class: 'rounded-box title-box' } %>
  </div>
  <div class="description-input">
    <%= f.input :content, as: :text, label: false, placeholder: 'Write something...', input_html: { class: 'rounded-box write-something-box' } %>
  </div>
  <div class="photo-upload">
    <%= f.input :photos, as: :file, label: false, input_html: { multiple: true, class: 'rounded-box' } %>
  </div>
  <div class="journal-submit">
    <%= f.submit 'Create', class: "journal-form-submit-btn" %>
  </div>
<% end %>
