<div class="journal-index">
  <%= render 'shared/buttons/backbtn' %>
</div>


<% @journals_as_owner.each do |journal| %>
  <div class="journal-container mobile-margins">
    <div class="journal-top">
      <%= cl_image_tag(journal.pet.ownerships.first.user.photo.key, class: "journal-user") %>
      <div class="user-and-date">
        <h2 class="user-name"> <%= journal.pet.ownerships.first.user.name %></h2>
        <small class="journal-date"> <%= journal.created_at.to_formatted_s(:short) %> </small>
      </div>
    </div>
    <div class="journal-content">
      <h2 class="journal-title">
        <b> <%= journal.name %></b>
      </h2>
      <p class="journal-entry">
      Making my way downtown. Walking fast Faces pass. And Im home-bound <span class="see-more"><b>See More </b></span><span class="more-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae sce</span>
      </p>
    </div>
    <div class="journal-img">
      <img class="journal-photo" src="https://vetstreet.brightspotcdn.com/dims4/default/18f82ff/2147483647/thumbnail/645x380/quality/90/?url=https%3A%2F%2Fvetstreet-brightspot.s3.amazonaws.com%2F1e%2F1c6420a7f811e0a0d50050568d634f%2Ffile%2FPoodle-miniature-1-645mk062811.jpg" alt="">
    </div>
  </div>
<% end %>

<%= javascript_pack_tag 'seemore'%>
