<div class="flex-box">
  <%= link_to pet_path(@pet) do %>
    <%= render 'shared/buttons/backbtn' %>
  <% end %>
  <%= link_to new_pet_journal_entry_path(@pet) do %>
    <%= render 'shared/buttons/plusbtn' %>
  <% end %>
</div>

<% @journal_entries.each do |journal| %>
  <div class="journal-container mobile-margins">
    <div class="journal-top">
      <%= cl_image_tag(journal.pet.ownerships.first.user.photo.key, class: "journal-user") %>
      <div class="user-and-date">
        <h2 class="user-name"> <%= journal.pet.ownerships.first.user.name%></h2>
        <small class="journal-date"> <%= journal.created_at.to_formatted_s(:short) %> </small>
      </div>
    </div>
    <div class="journal-content">
      <h2 class="journal-title">
        <b> <%= journal.name %></b>
      </h2>
      <p class="journal-entry">
        <%= journal.content %>
      </p>
    </div>
    <div class="journal-img">
      <% if journal.photos.present? %>
        <% journal.photos.each do |photo|  %>
          <%= cl_image_tag(photo.key, class: "journal-photo") %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<%= javascript_pack_tag 'seemore'%>
