<div class="nav-buttons">
  <%= link_to pet_path(@pet) do %>
    <%= render 'shared/buttons/backbtn' %>
  <% end %>
  <%= link_to new_pet_medicine_path(@pet) do %>
    <%= render 'shared/buttons/plusbtn' %>
  <% end %>
</div>

<h1><%= "#{@pet.name}'s Medicine" %></h1>

<% @medicines.each do |medicine| %>
  <%= link_to medicine_path(medicine) do %>
    <%= medicine.name %>
    <%= medicine.dosage %>
    <%= medicine.description %>
  <% end %>
<% end %>
