<div class="flex-box">
  <%= link_to pet_medicines_path(@pet) do %>
    <%= render 'shared/buttons/backbtn' %>
  <% end %>
</div>

<div class="container medicine-show">
  <div class="medicine-top">
    <h1 class="medicine-name"><%= @medicine.name %></h1>
    <h2 class="medicine-expiration-date">Expires <%= @medicine.expiration_date.to_formatted_s(:short) %></h2>
  </div>
  <div class="medicine-img">
    <% if @medicine.photos.present? %>
      <% @medicine.photos.each do |photo|  %>
        <%= cl_image_tag(photo.key, class: "med-img") %>
      <% end %>
    <% end %>
  </div>
  <div class="medicine-content">
    <h3 class="medicine-period">
      Period<br>
      <%= @medicine.start_date.to_formatted_s(:short) %> to <%= @medicine.end_date.to_formatted_s(:short) %></h3>
    <h4 class="medicine-type">Medicine type: <%= @medicine.medicine_type %></h4>
    <h5 class="medicine-dosage">Dosage: <%= @medicine.dosage %></h5>
    <p class="medicine-description"><%= @medicine.description %></p>

    <% if @medicine.important %>
      <p><u>Notifications are enabled for this medicine.<u></p>
    <% end %>
  </div>
</div>
