<h1>My Pet family</h1>


<div class="family mobile-margins">
  <% @pets.each do |pet| %>
   <%= link_to pet_path(pet), class: "text-decoration-none text-dark" do %>
      <div class="family-pet-card">
        <%= cl_image_tag pet.photo.key, class: "family-pet-img"%>
        <div class="family-pet-info">
          <h2 class="family-pet-name"><%= pet.name %></h2>
          <% if pet.sex == "Female" %>
            <p class="pet-sex"><i class="fa-solid fa-venus"></i></p>
          <% elsif %>
            <p class="pet-sex"><i class="fa-solid fa-mars"></i></p>
          <% end %>
          <p class="pet-age"><%= pet.age %>yrs old</p>
        </div>
        <div class="family-user-access">
          <% pet.ownerships.each do |relationship| %>
            <%= cl_image_tag(relationship.user.photo.key, class: "family-user") %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


<%= link_to new_ownership_path(@ownerships) do %>
  <%= render 'shared/buttons/adduserbtn' %>
<% end %>
