<%= link_to pet_path(@pet) do%>
  <div class="journal-index">
    <%= render 'shared/buttons/backbtn' %>
  </div>
<% end %>


<div class="mobile-center mobile-margins">
  <%= cl_image_tag @pet.photo.key, class: "pet-prof-icon" %>
  <h2 class="text-center p-4"><%= @pet.name %></h2>
  <div class="pet-summary">
    <div class="age&weight">
      <span class="age"><%= @pet.age %> years old</span>
      <span class="weight">| <%= @pet.weight %> lbs</span>
    </div>
    <p class="chipnum">Chip Number: <%= @pet.chip_number %></p>
    <p class="pet-bio"><%= @pet.description %></p>
  </div>
</div>
<div >

<div class="prof-journal-imgs">
  <img class="img-box-sizing" src="https://i.imgur.com/XuijCUO.jpg" alt="">
  <img class="img-box-sizing" src="https://i.imgur.com/kJBrdtd.jpg" alt="">
</div>
