<div class="nav-buttons">
  <%= link_to pet_path(@pet) do%>
    <%= render 'shared/buttons/backbtn' %>
  </div>
<% end %>

<div class="pet-profile-header">
  <% if @pet.photo.present? %>
    <%= cl_image_tag @pet.photo.key, class: "pet-prof-icon" %>
  <% else  %>
      <%= image_tag("pluto.png", alt: "pluto", class: "pet-prof-icon") %>
  <% end %>
  <div class="family-pet p-3">
    <h2 class="family-pet-name"><%= @pet.name %></h2>
    <% if @pet.sex == "Male" %>
      <i class="fas fa-mars sex-icon-male"></i>
    <% elsif @pet.sex == "Female" %>
      <i class="fas fa-venus sex-icon-female"></i>
    <% end %>
  </div>
  <div class="pet-summary">
    <div class="age&weight">
      <% if @pet.age.present? %>
        <span class="age"><%= @pet.age %> years old</span>
      <% end %>
      <% if @pet.weight.present? %>
        <span class="weight">| <%= @pet.weight %> lbs</span>
      <% end %>
    </div>
    <% if @pet.chip_number.present? %>
      <p class="chipnum">Chip Number: <%= @pet.chip_number %></p>
    <% end %>
    <% if @pet.description.present? %>
      <p class="pet-bio"><%= @pet.description %></p>
    <% end %>
  </div>
</div>

<div class="prof-journal-imgs">
  <% @pet.journal_entries.each do |journal| %>
      <% journal.photos.each do |photo|  %>
          <%= cl_image_tag(photo.key, class: "img-box-sizing") %>
        <% end %>
  <% end %>
</div>

<%# delete this comment %>
