<div class="mobile-margins">
  <div class="pet-info ">
    <% if @pet.photo.present? %>
      <%= link_to cl_image_tag @pet.photo.key, profile_path(@pet), class: "pet-avatar" %>
    <% else  %>
      <img class= "avatar-large" src="@pet.photo" alt="Pet Avatar">
    <% end %>
    <h2><%="#{@pet.name}'s Home" %></h2>
  </div>
  <div class="dashboard-nav">
    <div class="top_dashboard_btn">
      <%= link_to 'Journal Entries', pet_journal_entries_path(@pet), :class => 'journal-btn dashboard-nav-btn' %>
      <%= link_to 'Meals', pet_journal_entries_path(@pet), :class => 'meals-btn dashboard-nav-btn' %>
    </div>
    <div class="btm_dashboard-btn">
      <%= link_to 'Medicine', pet_journal_entries_path(@pet), :class => 'medicine-btn dashboard-nav-btn' %>
      <%= link_to 'Appointments', pet_journal_entries_path(@pet), :class => 'appointments-btn dashboard-nav-btn' %>
    </div>
  </div>
</div>
