<div class="nav-buttons">
  <%= link_to pets_path do %>
    <%= render 'shared/buttons/backbtn' %>
  <% end %>
</div>

<div class="container pet-home-header">
  <div class="pet-photo">
    <% if @pet.photo.present? %>
      <%= link_to profile_path(@pet) do %>
        <%= cl_image_tag @pet.photo.key, class: "pet-prof-icon" %>
      <% end %>
    <% else  %>
      <img class= "avatar-large" src="@pet.photo" alt="Pet Avatar">
    <% end %>
  </div>
  <div class="p-3">
    <h2><%="#{@pet.name}'s Home" %></h2>
  </div>
</div>

<div class="dashboard-nav">
  <div class="top_dashboard_btn">
    <%= link_to 'Journal Entries', pet_journal_entries_path(@pet), :class => 'journal-btn dashboard-nav-btn' %>
    <%= link_to 'Meals', pet_meals_path(@pet), :class => 'meals-btn dashboard-nav-btn' %>
  </div>
  <div class="btm_dashboard-btn">
    <%= link_to 'Medicine', pet_journal_entries_path(@pet), :class => 'medicine-btn dashboard-nav-btn' %>
    <%= link_to 'Appointments', pet_appointments_path(@pet), :class => 'appointments-btn dashboard-nav-btn' %>
  </div>
