<!DOCTYPE html>
<html>
  <head>
    <title>Pluto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/789041a997.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('pluto.png') %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <% if user_signed_in? %>
    <% unless controller_name == "pages" %>
  <% end %>
    <%= render 'shared/navbar' %>
    <% end %>
      <div class="container">
        <%= yield %>
      </div>
  </body>
</html>
